<launch>
  <node name="command_sender" pkg="turtlesim_operator" type="command_sender_node.py" output="screen">
    <rosparam command="delete" param=""/>
    <rosparam command="load" file="$(find turtlesim_operator)/config/params.yaml"/>
    <param name="mode" value="production"/>
  </node>
  <node name="attribute_receiver" pkg="turtlesim_operator" type="attribute_receiver_node.py" output="screen">
    <rosparam command="delete" param=""/>
    <rosparam command="load" file="$(find turtlesim_operator)/config/params.yaml"/>
  </node>
</launch>
